
.container {
    width: 100%;
    height: 100%;
}

.empty-view{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
    padding: 8px;
}
a {
    margin: 4px;
}

@media only screen and (max-width: 400px) {
    .empty-view {
        font-size: medium;
        font-weight: 500;
    }
   
}
